@charset "UTF-8";

body{
  background-image: 
                   url("../img/bgIMG5.png")
                    
                   ;  
  background-repeat: no-repeat;
  background-position: center;   
  background-size: cover;  
}
footer{
	padding-top:100px;
	text-align: center;
}

table{
margin:auto;
border: 1px solid;
border-spacing: 0px;
}
th, td{
padding: 5px 10px 5px 10px;
border-spacing: 0px;
margin: 0px;
}



