/* Agency-background */
body{
	background-image: url("../img/AgencyImg/aI02.jpg");
					
 	background-attachment: scroll; 
	background-position: center;
	background-size: cover;
	background-repeat: no repeat;
}

.row{
	justify-content: center;
}

/* viewAgency.jsp 機構介紹*/
/* table-AgencyImg 機構圖片 */
     
.card-Vatitle{ /* 機構title*/
	text-align:center;
	
}	

.agencyImgWord{ 
	text-align:center;
	
}

/* .agencyImg{	靜態路徑- 機構圖片 */
/* 	width: 125%;  */
/* 	height: 150%;   */
/* } */





