
a{
    text-decoration: none !important;
}

.container-fluid {
    padding: 0px;
    text-align: center;
}

img {
    height: 600px;
    
    
}

#navbar ul li{
    margin-left: 20px;
    margin-right: 20px;
}
#webTour, #memLogin{
    margin: 5px;
}

.news{
    height: 200px; 
    background-color: black; 
    color: white;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}


.footer{
    height: 300px;
    background-color: rgb(233, 225, 230);
    text-align: center;
} 

